 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(219,84,90,0.4), rgba(219,84,90,0.4)), url("images/6f8053a2-7261-42af-9cbd-2f0c59a1cc6f.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6.25rem;
  margin: 168px 56px 60px 306px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-text-1 {
    font-size: 10.625rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 197px;
    margin-left: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 148px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.375rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 93px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 862px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 890px;
  margin: 140px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 593px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-2 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/Luo_Zheng.jpg");
  background-position: 50% 50%;
  margin: -95px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 31px 13px 0;
}

.u-section-2 .u-social-icons-1 {
  height: 25px;
  min-height: 16px;
  width: 109px;
  min-width: 82px;
  margin: 107px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 593px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-2 .u-text-3 {
  margin: 8px auto 0 42px;
}

.u-section-2 .u-text-4 {
  margin: 20px 44px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-family: "Playfair Display", serif;
  }

  .u-section-2 .u-text-3 {
    font-weight: bold;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 768px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 364px;
  margin: 111px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 133px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 425px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-3 .u-image-1 {
  width: 318px;
  height: 171px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 425px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-3 .u-image-2 {
  width: 318px;
  height: 171px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 31px 23px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 425px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-3 .u-image-3 {
  width: 318px;
  height: 171px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 184px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-1 {
    width: 178px;
    height: 96px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 350px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-2 {
    width: 258px;
    height: 139px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 350px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-image-3 {
    width: 258px;
    height: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 123px;
    height: 66px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 185px;
    height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 185px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 549px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-form-1 {
  height: 347px;
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-4 .u-input-1 {
  text-transform: uppercase;
}

.u-section-4 .u-input-2 {
  text-transform: uppercase;
}

.u-section-4 .u-input-3 {
  text-transform: uppercase;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}